/.idea/**
*.pyc
*.c
/test.py
/setup.py
/build_sites.py
/build/**
/venv/**
/cloudflarespeedtest/**
.python-version
.vscode/
Dockerfile-dev
config/sites.json
config/temp
config/plugins
config/*.db
config/*.dat
config/backup_file
config/archive_file
nastools_test.py
/node_modules/**
package-lock.json
package.json